    form{
      width: 500px;
      margin: 0px auto;
       padding: 20px;
       border: 9px brown groove;
      background-color: white;
       opacity: 0.96;
    }
  .input-group > input{
       border-radius: 5px 5px 0 0;  
     }
    .input-group label{
      text-align: left;
      margin:3px;
      font-size: 20px;
    }
    .input-group input{
      text-align: left;
      height: 20px;
      width: 45%;
      padding: 5px 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 3px solid gray;
    }
    .input-groupv{padding-left: 120px; padding-top: 7px;}
    .input-groupv button{
      width: 30%;
      height: 30px;
      font-size: 19px;
      border-radius: 5px;
      text-align: center; background-color: #0cc6cd;
      border:1px solid gray;
    }

